@page "/"
@inject NavigationManager NavigationManager

<PageTitle>Mariolympics</PageTitle>

<h1>Mariolympics!</h1>


@code {
    protected override void OnInitialized()
    {
        NavigationManager.NavigateTo("tournament");
    }
}